body{
  background-color: #009688;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#quote-box{
  text-align: center;
  border: 2px solid black;
  margin: 0 auto;
  width: 50%;
}